header {
    text-align: center;
    background-image: linear-gradient(to right, blue, purple);
    padding: 20px 35px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-text {
    font-weight: bold;
}

.search {
    border-bottom: solid;
    margin-bottom: 10px;
}
.search-box {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.curr-submit {
    width: 100%;
    margin-bottom: 10px;
}

.clear-history-btn {
    margin-bottom: 10px;
    width: 100%;
}

.clear-btn {
    width: 100%;
}
.current-weather {
    border: solid;
}

.uvi {
    width: 50px;
    margin-bottom: 20px;
}

.card {
    min-width: 142px;
    font-size: 14px;
    font-weight: bold;
}