header {
    text-align: center;
    background-color: blue;
    padding: 20px 35px;
    color: white;
    margin-bottom: 20px;
}

.current-weather {
    border: solid;
}

.card {
    min-width: 142px;
    font-size: 14px;
    font-weight: bold;
}